<a href="https://colab.research.google.com/github/Meherangel23/Python/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Q-1 exchange the elements of a list
flowers = ['rose','lotus','lavender','lily']
flowers[0],flowers[3] = flowers[3],flowers[0]
print(flowers)

['lily', 'lotus', 'lavender', 'rose']

In [4]:
# print multiplication
n_1 = 20
n_2 = 30
product = n_1 * n_2
print(product)

600

In [8]:
# sum of prev no. in range
num = 0
for x in range(1,11):
  new = num + x
  num = new
  print(f'Current number is: {x}, Sum of numbers is: {new}')

Current number is: 1, Sum of numbers is: 1
Current number is: 2, Sum of numbers is: 3
Current number is: 3, Sum of numbers is: 6
Current number is: 4, Sum of numbers is: 10
Current number is: 5, Sum of numbers is: 15
Current number is: 6, Sum of numbers is: 21
Current number is: 7, Sum of numbers is: 28
Current number is: 8, Sum of numbers is: 36
Current number is: 9, Sum of numbers is: 45
Current number is: 10, Sum of numbers is: 55

In [14]:
# even letters
word = ['pynative']
for letter in word:
  for l in range(len(letter)):
    if l%2 ==0:
      print(letter[l])

p
n
t
v

In [30]:
# odd letters
words = ['Today is Saturday']
for letter in words:
  for x in range(len(letter)):
   if x % 2 != 0:
    print('even')
   else :
    print(letter[x])

T
even
d
even
y
even
i
even

even
a
even
u
even
d
even
y

In [6]:
# removing characters from a string
def remove(word,x):
  y = word[x:]
  return(y)

In [9]:
remove('pebbles',3)

'bles'

In [10]:
# func that returns true for same 1st and last val
def same(num):
  first = num[0]
  second = num[-1]
  if first == second:
    return True
  else :
    print('not same')

In [12]:
num_1 = [10,20,30,40,45,50,10]
same(num_1)

True

In [14]:
num_2 = [12,23,34,45,56,67,78,89,91]
same(num_2)

not same

In [21]:
# numbers divisible by 5
def multiples(num):
  for x in num:
    if x%5 == 0:
      print(x)

In [22]:
numl= [2,5,56,50,45,35,67,78,90,20]
multiples(numl)

5
50
45
35
90
20

In [62]:
# counting the no. of times a word is repeated
def count(word):
  counted = 0
  for x in range(len(word)-1) :
    if word[x: x+4] == 'Emma':
      counted = counted +1
      return counted

In [64]:
words = "Emma is good developer. She is a writer"
count(words)

1

In [74]:
# printing patterns
for x in range(1,10):
  print('x'* x)

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx

In [114]:
# create one list from 2 lists such that there are even numbers from one list and odd numbers from another
def new_list(l_1,l_2):
  list_one=[]
  list_two = []
  for num in l_1:
    if x % 2 != 0:
      list_one.append(num)
  for val in l_2:
    if val % 2 == 0:
      list_two.append(val)
  list_three = list_one + list_two
  print(list_three)

In [117]:
l_1 = [2,4,7,3]
l_2 = [1,8,9,2]
new_list(l_1,l_2)

[2, 4, 7, 3, 8, 2]

In [149]:
# multiplcation table from 1 to 10

for x in range(1,11):
  for y in range(1,11):
    z = x*y
    print(z,end=' ')
    print("\t")

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [150]:
# convert 2 list into a dictionary
num = ['Ten','Twenty','Thrity']
value = [10,20,30]
dictionary = dict(zip(num,value))
print(dictionary)

{'Ten': 10, 'Twenty': 20, 'Thrity': 30}

In [155]:
# print a value from dictionary
d = {'class':{'student':{'name':'Mike','marks':{'physics': 70,'history':80}}}}
print(d['class']['student']['marks']['history'])

80

In [164]:
# inner function to calculate the addition
def add(a,b):
  sq= a**2
  def add_2(a,b):
    return a+b
  sum = add_2(sq,b)
  return sum + 5

In [165]:
print(add(5,10))

40

In [170]:
# inheritance
class vehicle:
  def __init__(self,name,max_speed,milage):
    self.name = name
    self.max_speed = max_speed
    self.milage = milage

In [182]:
class bus(vehicle):
  def __init__(self,name,max_speed,milage):
    vehicle.__init__(self,name,max_speed,milage)
    print(f'{self.name} moves with a speed of {self.max_speed}m/s and has milage {self.milage}')

In [183]:
type = bus('School Volvo',180,12)

School Volvo moves with a speed of 180m/s and has milage 12

In [181]:
type.name

'School Volvo'